
/*Header*/

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.875rem;
    background: transparent;
    transition: all ease 0.3s;
    font-size: 2rem;
}

header a {
    color: rgb(255, 255, 255);
}

header a:hover {
    color: #888;
}



/*+===================================================================*/
.movieRow--image {
    display: inline-block;
    width: 10rem;
    text-align: center;
    padding-bottom: 2rem;
    transform: scale(0.9);
    transition: all ease 0.3s;
}

#container img {
    width: 100%;
    border-radius: 0 0 8px 8px;
    

}

.movieRow--image:hover {
    transform: scale(1.0);
    opacity: 1;
}

#text_genres {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(54, 250, 5);
    padding: 9px;
    position: absolute;
    text-align: center;
    margin-top: 4rem;
    margin: 7rem 5px 0 0px;
    width: 160px;
    opacity: 0;
    font-size: 12px;
    padding: 15px;
}

.span {
    padding: 8px;
    color: #FFF;
    padding-left: 2px;
}

.movieRow--image:hover #text_genres {
    opacity: 1;
}

#container {
    cursor: pointer;
    margin: 0 auto;
}

#section {
    display: flex;
    margin-top: -3rem;
    padding:5rem;
}

/**********/

.paragraf {
    padding: 10px;
    display: flex;
    color: #FFF;
    padding: 5px;
    font-size: 1.2rem;
}

.paragraf:hover {
    color: rgb(0, 255, 213);
    opacity: 0.7;
}

.movie_paragraf {
    padding: 1px;
    border-bottom: 2px solid rgba(102, 255, 0, 0.733);
}

/******/

/* Genres */

/***************/

#movie-row {
    color: white;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 3rem;
}

.white {
    background-color: black;
    border-bottom: 1px solid rgb(54, 47, 47);
}

#content{
    margin-right:1.5rem;
}

/*************/







@media (min-width: 480px){
    #container {
        margin-right: -2rem;
    }

    .movieRow--image {
        width: 10rem;
        padding-bottom: 2rem;
    }

    /*Paragraf*/
    #text_genres {
        width: 160px;
    }
}




@media (max-width: 480px){
    #container {
        margin-right: -4.5rem;
        margin-left: -4.5rem;
    }

    /*Paragraf*/
    #text_genres {
        width: 160px;
    }
}
